* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   
    background-color: lightskyblue;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.countryImage:hover {
    cursor: pointer;
}

.imageP {
    float: left;
    padding: 1%;
}   

button, #add-country {
    margin: 1%;
    background-color: navy;
    color: bisque;
    padding-bottom: .5%;
    padding-top: .5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
}

p {
    margin-bottom: 0;
}

.gifTitle {
    font-weight: bold;
}